*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
:root {
  --primary-hue: 150;
  --gray-hue: 240;
  --color-primary: hsl(var(--primary-hue), 39%, 52%);
  --color-secondary: hsl(var(--gray-hue), 79%, 22%);
  --color-secondary-text: hsl(var(--primary-hue), 39%, 92%);

  --primary-color: rgba(40, 55, 86, 255);
  --primary-text-color: white;
  --secondary-text-color: rgba(166, 161, 241, 255);
  --color: 166, 161, 241;
  --highlight-color: rgba(236, 220, 107, 255);
  --accent-color: rgba(78, 97, 173, 255);

  --container-width-lg: 80%;
  --container-width-md: 90%;

  --transition: all 50ms ease;
}
html {
  font-size: calc(10px + 0.390625vw);
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--primary-color);
  color: var(--primary-text-color);
  /* background-color: var(--color-primary); */
}

button {
  text-decoration: none;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  font-size: 15px;
}
a {
  text-decoration: none;
  color: white;
  font-weight: bolder;
}

.container {
  width: var(--container-width-lg);
  max-width: 1920px;
  margin-inline: auto;
}

/* .app__container {
  display: flex;
}

.app__container-left {
  flex: 2;
  background-color: var(--color-primary);
  position: sticky;
  top: 0;
  max-height: calc(100vh);
}

.app__container-right {
} 
.app__container-right__top {
  background-color: var(--color-secondary-text);
}
.app__container-right__bottom {
  padding: 2.5rem;
}
.app__center-div {
  display: flex;
  justify-content: center;
  margin-top: 5%;
  margin-bottom: 5%;
} */

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.5;
}

.icon-padding {
  padding: 0.2rem;
}

/* NAVBAR */
.navbar-brand {
  color: var(--secondary-text-color);
}
.nav-link {
  color: var(--primary-text-color);
}
.nav-link:focus,
.nav-link:hover {
  color: var(--highlight-color);
}
.navbar-brand:focus,
.navbar-brand:hover {
  color: var(--primary-text-color);
}

/* MEDIA QUERIES (small and medium screens */
@media screen and (max-width: 601px) {
  .button__container {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 750px) {
  .app__container {
    display: inline;
  }
  .app__container-right__top {
    padding: 1rem;
  }
  .summary__container {
    display: inline;
  }
}
