.card__container {
  border: none;
  max-width: 55%;
  /* box-shadow: 0px 0px 2px #ccc; */
  /* margin: 12px 0px; */
  padding: 2% 0% 2% 0%;
}

.work-details {
}
.job-details {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}
/* .work-details {
    padding: 4px 16px 20px 16px;
    text-align: left;
    //justify-content: left;
    h1 {
      font-size: 18px;
      color: white;
    }
    .job-details {
      padding-top: 1%;
      padding-bottom: 2%;
      h3 {
        font-size: 15px;
        line-height: 1.5;
      }
    }

    div {
      p {
      }
    }
  }
  .programming-lang-skills {
    padding-left: 16px;
  }
} */
