.hero__container {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.hero-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2%;
}

.hero-right {
}

.button-container {
  display: flex;
  gap: 1rem;
}
.fancy-button {
  --bs-btn-bg: var(--secondary-text-color);
  --bs-btn-border-color: var(--secondary-text-color);
}

@media screen and (max-width: 750px) {
  .hero__container {
    display: block;
  }
}
