.myNavbar {
  min-height: calc(100vh);
  color: var(--color-secondary-text);
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  overflow-y: scroll;
}

.nav__toggle-btn {
  display: none;
}
.top {
  padding-bottom: 1.5rem;
  text-align: center;
}

.bottom {
  display: flex;
  align-items: left;
  justify-content: center;
  padding-top: 15%;
  border-top: solid;
  border-color: rgba(211, 211, 211, 0.77);
}
.sidebar-summary {
  padding-bottom: 1.5rem;
}

.nav__links {
  display: grid;
  gap: 1rem;
}

.nav__links a {
  transition: var(--transition);
}
.nav__links a:hover {
  color: var(--color-secondary);
}

.nav__spacing_container {
  display: flex;
}

.nav__spacing_1 {
  margin-right: 10%;
}

.active-nav {
  position: relative;
}

.active-nav::after {
  background-color: red;
  content: "";
  display: "block";
  height: 1.2rem;
  position: absolute;
}

.img-container {
  padding-bottom: 1.5rem;
  margin-left: 15%;
}

/* MEDIA QUERIES (small and medium screens */
@media screen and (max-width: 750px) {
  .navbar {
    min-height: 5rem;
  }
  .nav__links {
    gap: 0.5rem;
  }
  .img-container {
    display: none;
  }
  .nav__toggle-btn {
    display: inline-block;
    cursor: pointer;
  }
  .bottom {
    padding-top: 0px;
    border: none;
  }
  .top {
    padding-top: 5%;
  }
}
