.navbar {
  min-height: calc(100vh);
  color: var(--color-secondary-text);
  padding: 1rem;

  /* position: absolute;
  top: 50%;
  max-width: 15%; */
}
.nav__toggle-btn {
  display: none;
}
.top {
  /* padding: 0.5rem; */
  padding-bottom: 1.5rem;
  text-align: center;
}
.sidebar-summary {
  padding-bottom: 1.5rem;
}

.nav__links {
  display: grid;
  place-items: center;
  gap: 1rem;
}
.nav__links a {
  transition: var(--transition);
}
.nav__links a:hover {
  color: var(--color-secondary);
}

.active-nav {
  position: relative;
}

.active-nav::after {
  background-color: red;
  content: "";
  display: "block";
  height: 1.2rem;
  position: absolute;
}

.img-container {
  padding-bottom: 1.5rem;
}

/* MEDIA QUERIES (small and medium screens */
@media screen and (max-width: 750px) {
  .navbar {
    min-height: 5rem;
  }
  .nav__links {
    gap: 0.5rem;
  }
  .img-container {
    display: none;
  }
  .nav__toggle-btn {
    display: inline-block;
    cursor: pointer;
  }
}
