.summary__container {
  display: flex;
  padding: 3rem;
}
.summary-text {
  margin-top: 1rem;
}
.left {
  flex: 4;
 
}
.plain {
    background-color: lightgray;
    color: black;
}
.right {
  flex: 3;
  /* padding: 3rem 3rem 0 3rem; */
  
}
img {
  max-width: 100%;
  height: auto;
}
.main-photo {
    display: none;
}

/* MEDIA QUERIES (small and medium screens */
@media screen and (max-width: 601px) {
}
@media screen and (max-width: 750px) {
  .summary__container {
    display: inline;
    justify-content: center;
    text-align: center;
  }
  .left {
    text-align: left;
  }
}

/* MEDIA QUERIES (large screens */
@media screen and (min-width: 600px) {
}
