.summary__container {
  display: flex;
  padding: 3rem;
}
.summary-text {
  margin-top: 1rem;
}
.left {
  flex: 4;
  border: solid;
  border-color: blue;
}
.right {
  flex: 3;
  /* padding: 3rem 3rem 0 3rem; */
  border: solid;
  border-color: yellow;
}
img {
  max-width: 100%;
  height: auto;
}

/* MEDIA QUERIES (small and medium screens */
@media screen and (max-width: 601px) {
}
@media screen and (max-width: 750px) {
  .summary__container {
    display: inline;
    justify-content: center;
    text-align: center;
  }
  .left {
    text-align: left;
  }
}

/* MEDIA QUERIES (large screens */
@media screen and (min-width: 600px) {
}
