.app__layout-right {
  margin-top: 151px;
}
.app__layout {
}

/* Home Page */
.home-page {
  margin-top: 15%;
}

/* Under Construction */
.warning-icon {
  color: var(--highlight-color);
}
.warning-text {
  text-align: center;
  width: 30%;
}
.under-construction {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding: 5%;
}

@media screen and (max-width: 550px) {
  .app__layout-right {
    margin-top: 56px;
  }
  .warning-text {
    width: 70%;
    margin-top: 10%;
  }
}
