*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  -webkit-overflow-scrolling: auto;
}
:root {
  --primary-color: rgba(40, 55, 86, 255);
  --primary-text-color: white;
  --secondary-text-color: rgba(166, 161, 241, 255);
  --color: 166, 161, 241;
  --highlight-color: rgba(236, 220, 107, 255);
  --accent-color: rgba(78, 97, 173, 255);

  --container-width-lg: 80%;
  --container-width-md: 90%;

  --transition: all 50ms ease;
}
html {
  font-size: calc(10px + 0.390625vw);
  background-color: var(--primary-color);
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--primary-color);
  color: var(--primary-text-color);
}

button {
  text-decoration: none;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  font-size: 15px;
}
a {
  text-decoration: none;
  color: white;
  font-weight: bolder;
}

.container {
  width: var(--container-width-lg);
  max-width: 1920px;
  margin-inline: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.5;
}

.icon-padding {
  padding: 0.2rem;
}

/* NAVBAR */
.navbar-brand {
  color: var(--secondary-text-color);
}
.nav-link {
  color: var(--primary-text-color);
}
.nav-link:focus,
.nav-link:hover {
  color: var(--highlight-color);
}
.navbar-brand:focus,
.navbar-brand:hover {
  color: var(--primary-text-color);
}
.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  color: var(--highlight-color);
}

/* MEDIA QUERIES (small and medium screens */
@media screen and (max-width: 601px) {
  .button__container {
    display: flex;
    justify-content: center;
  }
  .container {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .app__container {
    display: inline;
  }
  .app__container-right__top {
    padding: 1rem;
  }
  .summary__container {
    display: inline;
  }
}
